# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Naveen\Desktop\Chandru\AWS With Python and Flask -  Beanstalk, DynamoDB, Boto3, SNS\eb_flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
